.offcanvas {
    width: 100vw;
    height: 100vh;
    background-color: rgb(242, 245, 247);
    
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
}
.copyright_section {
    width: 100%;
    float: left;
    background-color: #f01c1c;
    height: auto;
}

.layout_padding {
    padding-top: 4rem;
    padding-bottom: 0rem;
}

.padding-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

